<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout (~{::body},'owners')}" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>List of pet owners</title>
</head>
<body>
<h2 th:text="'List of owners'">List of owners</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>FirstN</th>
        <th>LastN</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner: ${owners}">
        <th th:text="${owner?.getId()}">1</th>
        <th th:text="${owner?.getFirstName()}">1</th>
        <th th:text="${owner?.getLastName()}">1</th>
    </tr>
    </tbody>
</table>
</body>
</html>